<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>Trello Summary View</mat-toolbar>

<mat-card class="board-card" *ngFor="let b of boards" [ngStyle]="{'background-image': 'url(' + b.prefs.backgroundImage + ')'}"
  [style.background-color]="b.prefs.backgroundColor">
  <mat-card-title>{{b.name}}</mat-card-title>
  <mat-card-content>
    <div class="board-lists">
      <div class="board-list">
        <button class="list-button" mat-raised-button *ngFor="let l of b.lists">{{l.name}}<span matBadge="{{l.count}}"
            matBadgeOverlap="false"></span></button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<span class="board-member">
  <mat-checkbox>
    All
  </mat-checkbox>
</span>
<span *ngFor="let m of members" class="board-member">
  <mat-checkbox>
    <img *ngIf="m.avatarHash" src="http://trello-avatars.s3.amazonaws.com/{{m.avatarHash}}/50.png" style="width:25px;height:25px;">
    {{m.fullName}}
  </mat-checkbox>
</span>
<span class="board-member">
    <mat-checkbox>
      Not assigned
    </mat-checkbox>
  </span>
  <router-outlet></router-outlet>