/* You can add global styles to this file, and also import other style files */
@import '~sanitize.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main-header{
    height: 36px !important;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

.board-card {
    margin: 5px;
    padding: 5px !important;
}

.board-lists {
    width:100%;
    overflow-x:auto;
    overflow-y:hidden;
    background:rgba(255,255,255,.8); 
    height:46px;
    position:relative;
    border-radius: 3px;

}

.board-button {
    line-height: 24px !important;
}

.mat-card {
    padding: 10px;
}

.mat-card-title {
    color:white;
    font-size: 20px;
}


.board-list{
//    height:100%;
    padding:0px;
    width:auto;
    position:absolute;
    white-space:nowrap;
    margin-top: 8px;
}

.list-button{
    width: 15em !important;
    margin: 0px 5px 0px 5px !important;
    font-size: 13px !important;
    line-height: 30px !important;
}

.list-button .mat-badge-content {
    right: 2px !important;
    top: 2px !important;
}

.board-member {
    padding: 5px;
    margin: 5px;
    min-width: 20em;
}

.card-title{
    line-height: 24px;
    }
.member-avatar-wrapper {
    display: inline-block;
    width:30px;
}
.member-avatar {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    vertical-align: middle;

    background-color: #dfe3e6;
    color: #17394d;
    text-align: center;
    display:inline-block;
    line-height: 24px;
    font-size: 10px;
    font-weight: bold;
    //margin-top: -8px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 7px;
}

::-webkit-scrollbar
{
    width: 7px;
    height: 7px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 7px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}



.ps__rail-x:hover > .ps__thumb-x, .ps__rail-x:focus > .ps__thumb-x, .ps__rail-x.ps--clicking .ps__thumb-x {
    height: 6px;
}

.ps__rail-x {
    height: 8px;
}
